h1 {
  text-align: center;
}

h2 {
  padding-left: .3em;
  margin-top: 1em;
}

#default_info ul {
  padding: .1em .5em 0 1em;
  list-style-type: none;
}

#default_info ul li {
  padding-top: .2em;
}

main {
  padding-bottom: 3em;
}


/* ? media queries */
@media only screen and (min-width: 650px) {
  article {
    margin-left: 3em;
  }
}