h2 {
  /* margin: 0.5em 0 0.5em 2em; */
  margin: 0.5em 0;
}

h3 {
  /* margin: 1em 0 0.5em 1em; */
  margin-bottom: 0.5em;
}

section {
  margin: 0 auto;
  width: 90%;
}

#layouts ul {
  /* margin-left: 2em; */
  list-style: none;
}

#layouts ul li {
  margin-bottom: .3em;
  width: 100%;
}

#layouts ul li:nth-of-type(even) {
  background-color: #efefef;
}

/*? media queries*/
@media only screen and (min-width: 750px) {
  section {
    margin-left: 4em;
  }

  #layouts ul {
    width: 450px;
  }
}