h2 {
  margin: .7em ;
}

h3 {
  margin-left: 1em;
  margin-bottom: .5em;
  margin-top: 1em;
}

h4 {
  font-weight: normal;
}

#gallagher_layout ul {
  list-style-type: none;
  margin-left: 2em;
}

#gallagher_layout ul li {
  margin-top: .3em;
}

#gallagher_layout ul li ul li:last-of-type {
  margin-bottom: .5em;
}

article {
  margin-bottom: 2em;
}