#main_nav { 
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 0;
  font-size: 130%;
  background-color: #3eb049;
  color: #fff;
}

#main_nav ul {
  position: relative;
  display: flex;
  list-style-type: none;
  /* width: 480px; */
  padding-top: .7em;
}

#links {
  width: 480px;
}

#main_nav ul li {
  width: 25%;
  text-align: center;
  padding: 0 0 .5em 0;
}

#main_nav p {
  padding: .7em;
}

#main_nav ul a {
  text-decoration: none;
  /* display: block; */
  text-align: center;
  color: #fff;
  /* border-bottom: .1em solid #3eb049; */
}

#main_nav ul a:hover, #main_nav ul a:focus {
  border-bottom: .1em solid #fff;
}

#main_nav .last:hover {
  border-bottom: .1em solid #3eb049;
}

#main_nav {
  display: none;
}

.slicknav_menu {
  background-color: #3eb049;
}

#main_nav ul li ul{
  position: absolute;
  top: 100%;
  width: 120px;
  background-color: #3eb049;
  padding-top: .3em;
  display: none;
}

#main_nav ul li ul li {
  width: 100%;
}

#main_nav ul li:hover > ul {
  display: block;
}

#main_nav ul li a.active {
  color: #b0403e;
}

#main_nav ul li a.active:hover, #main_nav ul li a.active:focus {
  border-bottom: .1em solid #3eb049;
}