h1 {
  margin-left: 2rem;
}

#manuals_list img {
  display: block;
  width: 50%;
  margin: 1em auto;
}

#manuals_list p {
  text-align: center;
  margin-bottom: 1rem;
}

#manuals_list .hidden {
  display: none;
}

/* ? media queries */
@media only screen and (min-width: 750px) {
  #manuals_list .manual {
    display: flex;
    justify-content: space-between;
  }

  #manuals_list p {
    margin-left: 5.5em;
  }

  #manuals_list img.hidden + p {
    margin: 0 auto 1em 5.5em;
  }


  #manuals_list img {
    padding-right: 5em;
    padding-top: 2em;
    order: 2;
    width: 30%;
    margin: 0;
  }

}