html {
  background-color: #eee;
}

body {
  max-width: 750px;
  margin: 0 auto ;
  background-color: #fff;
}

main {
  min-height: 85vh;
}

main h1 {
  margin: 0;
  text-align: center;
  padding-top: 1em;
}

main ul {
  list-style-type: none;
  margin-top: 1em;
  padding: 1em 1em;
}

