body {
  margin: 0.5em 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  padding-left: 0.7em;
}

h3 {
  padding-left: 1em;
}

h3 {
  margin-bottom: 0.5em;
}

h4 {
  margin: 0.7em 0 0.2em;
}h4:hover {
  cursor: pointer;
}

ul.hide {
  display: none;
}

.blue {
  color: blue;
}

img {
  width: 95vw;
  margin: 0 auto;
  display: block;
  margin-bottom: 2em;
}

ul.containing_ul {
  padding-left: 2.3em;
  margin-top: 0;
}

ul li {
  list-style-type: none;
}

ul ul {
  padding-left: 1.5em;
}

ul ul ul li:first-child {
  padding-top: .5em;
}

li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

/* .mb {
  margin-bottom: .7em;
} */

.area_a_layouts {
  margin-left: 1em;
}

footer {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #000;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

/* ul li.no_list_style {
  list-style-type: none;
} */

@media (min-width: 750px) {
  html {
    background-color: #eee;
  }

  body {
    margin: 0 auto;
    width: 750px;
    background-color: #fff;
  }

  h1 {
    padding-top: 1em;
  }

  h2 {
    padding-left: 1.4em;
  }

  .area_a_images_div h3 {
    padding-left: 4em;
  }

  img {
    width: 60%;
    margin: 0 auto;
  }

  /* img:last-of-type {
    margin-bottom: 2em;
  } */

  .area_a_images_div {
    width: 400px;
    float: right;
  }

  .main_level_area_a_layouts {
    float: left;
  }

  .clearfix {
    clear: both;
  }

  /* .lower_level_area_a_layouts {
    background-color: red;
  } */
  /* footer {
    margin-top: 2em;
  } */
}
