body {
  margin: .5em 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

h2, h3 {
  padding-left: 1em;
}

h3 {
  margin-bottom: .5em;
}

img {
  width: 95vw;
  margin: 0 auto;
  display: block;
  margin-bottom: 2em;
}

ul.containing_ul {
  padding-left: 2.3em;
  margin-top: 0;
}

ul ul {
  padding-left: 1.5em;
}

li {
  padding-top: .3em;
}

.mb {
  margin-bottom: .7em;
}

footer {
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  margin: 2em .5em 0;
}

@media (min-width: 750px){
  html {
    background-color: #eee;
  }

  body {
    margin: 0 auto;
    width: 750px;
    background-color: #fff;
  }

  h1 {
    padding-top: 1em;
  }

  img {
    width: 720px;
  }
}