a { margin-left: 0.5em; }

#img_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

p { 
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

ul {
  margin-left: 2em;
  margin-right: 1.5em;
}

ul li {
  padding-bottom: 0.4em;
}